
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../assets/img/NYC.png");
    background-size: cover;
    /* opacity: 0.5; */
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar Styles ---------------------------------------------- */
.container-fluid {
  background-color: #ffffff;
  
}

.nav-link {
  position: relative;
  transition: all 0.3s;
  color: #000000;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.3s;
  height: 3px;
  width: 100%;
  background-color: #0bd5a9;
  position: absolute;
  bottom: 0;
  left: 0;      
}

.nav-link:hover::after {
  opacity: 1;

}

.nav-link:hover{
  color: #9a9a9a;
}

.container-fluid{
  height: 140px;
}

.navbar-toggler:hover{
  color: #8FE3CF;
}

 
#btn-navbar {
  background-color: #0bd5a9 ;  
  color: #9a9a9a;
}

#btn-navbar:hover{
  background-color: #9a9a9a!important;
  color: #0bd5a9;
}

/* ------------------------------------------------------------ */






/* About Me ---------------------*/
#container-about{
  background-color: hsl(0, 0%, 60%, 0.8);
  padding: 80px;
}
.about-text {
  color: #ffffff;
}

#Typewriter{
  
  font-size: 45px;
  
}

@media (max-width: 991px) {
  .about-text {
    margin-top: 40px;
  }
}
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 10px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h4 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h4 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
}
.about-text p mark {
  font-weight: 600;
  color: #ffffff;
}
.about-text .btn-bar {
  padding-top: 8px;
}
.about-text .btn-bar a {
  min-width: 150px;
  text-align: center;
  margin-right: 10px;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #3a3973;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #3a3973;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

.about-img {
  padding: 10px;
  
  
}
@media (max-width: 991px) {
  .about-img {
    margin-top: 30px;
  }
}

.counter-section {
  padding: 40px 20px;
}
.counter-section .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.counter-section .count {
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 10px;
}
.counter-section p {
  font-weight: 500;
  margin: 0;
  color: #ffffff;
}
.theme-color {
    color: #ffffff;
}

.section {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px 0;
    position: relative;
}
.gray-bg {
    background-color: #ebf4fa;
}
.px-btn.theme {
    background: #25c6f5;
    color: #ffffff;
    border: 2px solid #25c6f5;
    text-decoration: none;
}
.px-btn {
    padding: 0 20px;
    line-height: 42px;
    border: 2px solid transparent;
    position: relative;
    display: inline-block;
    background: none;
    border: none;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.px-btn.theme-t {
    color: #ffffff;
    background-color: #0bd5a9;
    text-decoration: none;
}

/* ------------------------------------------------------------ */

/* Projects / Carousel----------------------------------------- */

.card-colors{
  margin-bottom: 350px;
  background-color: #9a9a9a;
  opacity: 0.4;
}


/* ------------------------------------------------------------ */


/* Contact---------------------------------------------------- */

/* ===== Buttons Css ===== */
.contact-form .single-form .input-form .primary-btn {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--shadow-2);
}
.contact-form .single-form .input-form .active.primary-btn, .contact-form .single-form .input-form .primary-btn:hover, .contact-form .single-form .input-form .primary-btn:focus {
  background: var(--primary-dark);
  color: var(--white);
  box-shadow: var(--shadow-4);
}
.contact-form .single-form .input-form .deactive.primary-btn {
  background: var(--gray-4);
  color: var(--dark-3);
  pointer-events: none;
}

/*===========================
    contact-01 css 
===========================*/
.contact-area {
  padding-top: 50px;
  padding-bottom: 100px;
}
#container-contact{
  background-color: rgb(36, 111, 138, 0.7);
  
  
}
.contact-area .mt-15 {
  margin-top: 15px;
}
.contact-area .section-title .title {
  font-size: 28px;
  font-weight: 600;
  line-height: 55px;
}
@media (max-width: 767px) {
  .contact-area .section-title .title {
    font-size: 24px;
    line-height: 35px;
  }
}

.contact-form .single-form label {
  font-size: 12px;
  color: #9a9a9a;
  line-height: 18px;
  margin-left: 44px;
}
.contact-form .single-form .input-form {
  position: relative;
}
.contact-form .single-form .input-form i {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #9a9a9a;
}
.contact-form .single-form .input-form textarea, .contact-form .single-form .input-form input {
  width: 100%;
  height: 44px;
  padding-left: 45px;
  padding-right: 30px;
  color: #9a9a9a;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #9a9a9a;
  font-weight: 500;
}
.contact-form .single-form .input-form textarea::placeholder, .contact-form .single-form .input-form input::placeholder {
  opacity: 1;
  color: #9a9a9a;
}
.contact-form .single-form .input-form textarea {
  padding-top: 10px;
}
.form-input .help-block {
  margin-top: 2px;
}
.form-input .help-block .list-unstyled li {
  font-size: 12px;
  line-height: 16px;
  color: var(--error);
}
.form-input label {
  font-size: 18px;
  line-height: 18px;
  color: #020202;
  margin-bottom: 8px;
  display: inline-block;
}
.form-input .input-items {
  position: relative;
}
.form-input .input-items input, .form-input .input-items textarea {
  width: 100%;
  height: 44px;
  border: 2px solid;
  padding-left: 44px;
  padding-right: 12px;
  position: relative;
  font-size: 16px;
}
.form-input .input-items textarea {
  padding-top: 8px;
  height: 130px;
  resize: none;
}
.form-input .input-items i {
  position: absolute;
  top: 11px;
  left: 13px;
  font-size: 20px;
  z-index: 9;
}
.form-input .input-items.default input, .form-input .input-items.default textarea {
  border-color: var(--gray-4);
  color: var(--dark-3);
}
.form-input .input-items.default input:focus, .form-input .input-items.default textarea:focus {
  border-color: var(--primary);
}
.form-input .input-items.default input::placeholder, .form-input .input-items.default textarea::placeholder {
  color: var(--dark-3);
  opacity: 1;
}
.form-input .input-items.default i {
  color: var(--dark-3);
}
.form-input .input-items.active input, .form-input .input-items.active textarea {
  border-color: var(--primary-dark);
  color: var(--black);
}
.form-input .input-items.active input::placeholder, .form-input .input-items.active textarea::placeholder {
  color: var(--black);
  opacity: 1;
}
.form-input .input-items.active i {
  color: var(--primary-dark);
}
.form-input .input-items.error input, .form-input .input-items.error textarea {
  border-color: var(--error);
  color: var(--error);
}
.form-input .input-items.error input::placeholder, .form-input .input-items.error textarea::placeholder {
  color: var(--error);
  opacity: 1;
}
.form-input .input-items.error i {
  color: var(--error);
}
.form-input .input-items.success input, .form-input .input-items.success textarea {
  border-color: var(--success);
  color: var(--success);
}
.form-input .input-items.success input::placeholder, .form-input .input-items.success textarea::placeholder {
  color: var(--success);
  opacity: 1;
}
.form-input .input-items.success i {
  color: var(--success);
}
.form-input .input-items.disabled input, .form-input .input-items.disabled textarea {
  border-color: var(--dark-2);
  color: var(--dark-3);
  background: none;
}
.form-input .input-items.disabled input::placeholder, .form-input .input-items.disabled textarea::placeholder {
  color: var(--dark-3);
  opacity: 1;
}
.form-input .input-items.disabled i {
  color: var(--dark-3);
}

.form-style-four .form-input label {
  padding-left: 44px;
  margin-bottom: 0;
}
.form-style-four .form-input .input-items input, .form-style-four .form-input .input-items textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.contact-info ul li .single-info {
  position: relative;
  margin-top: 19px;
}
.contact-info ul li .single-info .info-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-info ul li .single-info .info-icon i {
  color: var(--dark-3);
  font-size: 18px;
  line-height: 24px;
}
.contact-info ul li .single-info .info-content {
  padding-left: 30px;
}
.contact-info ul li .single-info .info-content .text {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-3);
  font-weight: 500;
}
.contact-info .social li {
  display: inline-block;
  margin-right: 12px;
}
.contact-info .social li a {
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.096);
  text-align: center;
  border-radius: 5px;
  color: var(--dark-3);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.contact-info .social li a:hover {
  color: var(--white);
  background-color: var(--primary);
  border-color: transparent;
}


/* ------------------------------------------------------------ */

/* Blog-------------------------------------------------------- */
/*===== BLOG STYLE ONE =====*/
#Post-1 {
  background-color: #0fb2e9;
}

#Post-2 {
  background-color: #25c6f5; 
}

#Post-3 {
  background-color: #0bd5a9; 
}

.blog-style-one {
  margin-top: 50px;
}
.blog-style-one .blog-image {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.blog-style-one .blog-image .category {
  background-color: #9a9a9a;
  color: #ffffff;
  font-size: 18px;
  padding: 7px 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 30px;
  text-decoration: none;
}
.blog-style-one .blog-image img {
  width: 100%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.blog-style-one .blog-image:hover img {
  -webkit-transform: rotate(1deg) scale(1.1);
  -moz-transform: rotate(1deg) scale(1.1);
  -ms-transform: rotate(1deg) scale(1.1);
  -o-transform: rotate(1deg) scale(1.1);
  transform: rotate(1deg) scale(1.1);
}
.blog-style-one .blog-content {
  padding: 30px;
  border: 1px solid var(--light-1);
  border-radius: 0 0 8px 8px;
  border-top: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-style-one .blog-content {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .blog-style-one .blog-content {
    padding: 20px;
  }
}
.blog-style-one .blog-content .blog-title {
  display: block;
  margin-bottom: 10px;
}
.blog-style-one .blog-content .blog-title a {
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  line-height: 30px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .blog-style-one .blog-content .blog-title a {
    line-height: 24px;
  }
}
.blog-style-one .blog-content .blog-title a:hover {
  color: #9a9a9a;
}
.blog-style-one .blog-content span {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 8px;
  margin-right: 12px;
  display: inline-block;
}
.blog-style-one .blog-content .text {
  color: #ffffff;
  margin-top: 16px;
}
.blog-style-one .blog-content .more {
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
}
.blog-style-one .blog-content .more:hover {
  color: #9a9a9a;
}





/* ------------------------------------------------------------ */




/* Footer------------------------------------------------------ */
.footer-area {
  height:380px !important; 
}

.footer-one {
  background-color: #ffffff;
}
 
.footer-one .footer-widget {
  padding-top: 70px;
  padding-bottom: 0px;
}

.footer-logo{
  height: 120px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-one .footer-widget {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .footer-one .footer-widget {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.footer-one .footer-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  color: #000000;
  position: relative;
}
.footer-one .footer-app-store {
  padding-top: 22px;
}
.footer-one .footer-app-store .download-title {
  font-size: 15px;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--dark-1);
}
.footer-one .footer-app-store li {
  display: inline-block;
  margin-right: 8px;
}
.footer-one .footer-app-store li img {
  max-width: 140px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-one .footer-app-store li {
    margin-right: 6px;
  }
}
.footer-one .footer-app-store li:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .footer-one .footer-app-store li {
    width: 120px;
    display: block;
    margin-bottom: 10px;
  }
  .footer-one .footer-app-store li:last-child {
    margin: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-one .footer-app-store li {
    width: auto;
  }
}
.footer-one .footer-app-store li a {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.footer-one .footer-app-store li a:hover {
  box-shadow: #0bd5a9 ;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}
.footer-one .f-about {
  margin-top: 30;
}
.footer-one .f-about .text {
  margin-top: 20px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .footer-one .f-about {
    padding-right: 200px;
  }
}
.footer-one .footer-link {
  margin-top: 30px;
}
.footer-one .footer-link ul {
  margin-top: 8px;
  list-style: none;
  padding-left: 0;
  }
.footer-one .footer-link ul a {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-3);
  margin-top: 16px;
  font-weight: 400;
  text-decoration: none;
  
  
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media (max-width: 767px) {
  .footer-one .footer-link ul a {
    margin-top: 12px;
  }
}
.footer-one .footer-link ul a:hover {
  color: #0bd5a9;
}
.footer-one .footer-contact {
  margin-top: 30px;
}
.footer-one .footer-contact ul {
  margin-top: 24px;
}
.footer-one .footer-contact ul li {
  display: block;
  margin-top: 15px;
  position: relative;
  padding-left: 24px;
  color: #000000;
}
.footer-one .footer-contact ul li:first-child {
  margin: 0;
}
.footer-one .footer-contact ul li i {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 4px;
}
.footer-one .footer-copyright {
  border-top: 1px solid var(--gray-4);
}
.footer-one .copyright {
  padding-bottom: 23px;
  padding-top: 13px;
}
.footer-one .copyright .text {
  color: var(--dark-3);
  margin-top: 10px;
}
.footer-one .social {
  margin-top: 10px;
}
.footer-one .social li {
  display: inline-block;
  margin-right: 15px;
}
.footer-one .social li:last-child {
  margin-right: 0;
}
.footer-one .social li a {
  font-size: 18px;
  color: #000000;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  
}
.footer-one .social li a:hover {
  color: #0bd5a9;
}